.event-heading{
	text-align: right;
}

.main-description{
	font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
	.event-heading{
		text-align: center;
	}
  	.days {
    	display: none !important;
  	}
}