.felicity-website-link {
    position: absolute;
    top: calc(10px + 2vmin);
    right: 0;
    float: right;
    padding: calc(10px + 0.5vmin);
    border: calc(1px + 0.2vmin) solid white;
    margin-right: calc(10px + 3vmin);
    font-size: calc(10px + 1vmin);
    border-radius: calc(1px + 0.5vmin);
    transition: all 0.2s ease-in-out;
}

.felicity-website-link:hover {
    background-color: rgba(255, 255, 255, 0.123);
    color: white;
    text-decoration: none;
}

.felicity-2022-logo {
    height: 40vmin;
}

.details-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: calc(10px + 2vmin);
}

.coming-soon-message {
    font-family: Helvetica;
    font-size: calc(10px + 3vmin);
}

.about-us-message {
    font-family: Helvetica;
    font-size: calc(10px + 1vmin);
    width: 60%;
    margin: calc(10px + 3vmin) auto;
}

.footer-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.contact-section {
    position: absolute;
    bottom: calc(10px + 2vmin);
    display: flex;
}

.contact-message {
    font-family: Helvetica;
    font-size: calc(10px + 0.5vmin);
    margin-right: calc(10px + 4vmin);
}

.contact-details {
    font-family: Helvetica;
    font-size: calc(10px + 0.5vmin);
    margin: 0 calc(10px + 2vmin);
}

hr {
    color: white;
}

.link {
    font-family: Helvetica;
    color: white;
}

.link:hover {
    color: white;
}

.contact-chevron {
    visibility: hidden;
}

@media only screen and (max-width: 600px) {
    .about-us-message {
        font-size: calc(10px + 0.1vmin);
    }

    .contact-section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        bottom: -100vh;
        height: 100vh;
    }

    .contact-message {
        margin-right: 0;
        margin-bottom: calc(10px + 1vmin);
        font-size: calc(10px + 3vmin);
    }

    .contact-details {
        margin: 0;
    }

    .contact-chevron {
        visibility: visible;
        font-size: calc(10px + 20vmin);
        position: absolute;
        bottom: calc(10px + 2vmin);
        cursor: pointer;
    }
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}