.rplaybanner{
	position: relative;
	height: 25rem;
	display: flex;
	border-radius: 8px;
	color: 	white;
	margin-top: 5rem;
	background-size: 100% 100%;
	overflow-y: scroll;
	background-image: url("../../images/events/rplay.png");
}

.single-event-details{
	color: white;
	font-size: 1.5rem !important;
}

.mobile-only{
	display: none;
}

.calendar {
	position: relative;
	width: 200px;
	background: #fff;
	text-align: center;
	border-style: solid;
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 2rem;
  }
  
  .calendar #monthName {
	position: relative;
	padding: 5px 10px;
	background: #000000;
	color: #fff;
	font-size: 30px;
  }
  
  .calendar #dayName {
	margin: 20px;
	font-size: 20px;
	font-weight: 300;
	color: #2c2c2c;
	border-style: dotted;
	padding: 2px;
	border-color: black;
  }
  
  .calendar #dayNumber {
	margin: 0;
	line-height: 1em;
	font-size: 70px;
	font-weight: 700;
	color: #2c2c2c;
  }
  
  .calendar #year {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 700;
	color: white;
  }

@media only screen and (max-width: 768px) {
	.mobile-only{
		display: block;
	}
	.rplaybanner{
		height: 11rem;
	}
	.calendar #dayNumber {
		font-size: 50px;
	  }	
}