@import "./theme.scss";
@import "~bootstrap/scss/bootstrap";

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    font-family: $font-primary, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $black;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.intro-caret {
    position: absolute;
    bottom: 6em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    filter: opacity(0.1);
    animation: bounce 3s infinite;
}

@keyframes bounce {
    from {
        filter: opacity(0.1);
        bottom: 6em;
    }
    50% {
        filter: opacity(0.5);
        bottom: 3em;
    }
    to {
        filter: opacity(0.1);
        bottom: 6em;
    }
}

.intro-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.animate-darken {
    filter: brightness(0.8);
    animation: darken 8s;
}

@keyframes darken {
    from {
        filter: brightness(1);
    }
    to {
        filter: brightness(0.8);
    }
}

.intro-logo {
    object-fit: cover;
    position: absolute;
    width: 90%;
    max-width: 1000px;
    clip: rect(0px, 100vw, 100vh, 0vw);
    filter: brightness(1.5);
    -webkit-animation: fadein 1.5s;
    -moz-animation: fadein 1.5s;
    -ms-animation: fadein 1.5s;
    -o-animation: fadein 1.5s;
    animation: fadein 1.5s;
}

@keyframes fadein {
    from {
        clip: rect(0px, 100vw, 100vh, 100vw);
        opacity: 0;
    }
    to {
        clip: rect(0px, 100vw, 100vh, 0vw);
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.full-page {
    height: 100vh;
}

.contact-page {
    height: 60vh;
}

.bg-media {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 118vh;
    z-index: -9999;
    clip: rect(0px, 100vw, 100vh, 0px);
}

.centered-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vignette {
    background-image: linear-gradient(
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 1) 100%
    );
}

.navbar-sticky {
    font-weight: 500;
    height: 84px;
    transition: background-color 0.5s;
}

.navbar-semi {
    background-color: rgba(0, 0, 0, 1) !important;
}

.navbar-transparent {
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar-logo {
    height: 50px !important;
    margin: 0.2em;
    transition: visibility 0s linear 300ms, opacity 300ms;
}

.navbar-logo-visible {
    opacity: 1;
}

.navbar-logo-hidden {
    opacity: 0;
}

.nav-item {
    cursor: pointer;
}

.infopage-title {
    font-size: calc(3em + 3vw);
}

.infopage-subtitle {
    font-size: calc(2em + 1vw);
}

.threep-text {
    font-size: calc(2em + 4vw);
}

@media (min-width: 992px) {
    .threep-text {
        font-size: calc(2em + 5vw);
    }
}

.cr-animated {
    font-weight: 800;
    position: absolute;
    text-align: right;
    right: 0;
    margin-top: 15vh;
    font-size: 1em;
}

@media (max-width: 992px) {
    .cr-animated {
        font-size: 0.8em;
    }
}

.cr-big {
    position: relative;
    font-size: calc(5em + 10vw);
    animation: slideLeft 1s forwards;
    opacity: 0;
}

@keyframes slideLeft {
    from {
        opacity: 0.5;
        left: 200px;
    }
    to {
        opacity: 1;
        left: -5vw;
    }
}

.cr-small {
    position: relative;
    line-height: 0;
    font-size: calc(4em + 5vw);
    animation: slideDown 0.5s forwards;
    opacity: 0;
    left: -5vw;
}

@keyframes slideDown {
    from {
        opacity: 0.5;
        top: -80px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}

.yt-icon {
    width: 32px;
    filter: grayscale(1) invert(1) brightness(2);
}

.tw-icon {
    width: 32px;
    filter: grayscale(1) invert(1) brightness(3);
}

.ig-icon {
    width: 28px;
    filter: grayscale(1) invert(1) brightness(2);
}

.fb-icon {
    width: 26px;
    filter: grayscale(1) invert(1) brightness(2);
}

.fb-icon:hover {
    background: var(--fb-col);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ig-icon:hover {
    background: var(--insta-col);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tw-icon:hover {
    color: var(--twit-col);
}

.yt-icon:hover {
    color: var(--yt-col);
}

.divider {
    border: 1px solid gray;
    width: 2px;
    height: 120px;
}
