@import "./theme.scss";
@import "~bootstrap/scss/bootstrap";

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    font-family: $font-primary, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $black;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.full-page {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

.bg-video {
    position: absolute;
    width: 100%;
    z-index: -9999;
    clip: rect(0px, 100vw, 100vh, 0px);
}

.centered-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7) !important;
}
