@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700;800&display=swap");

$primary: #00399d;
$dark: #212121;

$font-primary: "Barlow Semi Condensed", sans-serif;
