html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* font-family: sans-serif; */
  overflow-x: hidden;
  /* overflow-y: hidden; */
  color: white;
  /* background-color: #fff; */
  /* color: #555; */
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  position: fixed;
  font-size: 30px;
  color: white;
  width: 100vw;
  transition: background-color 0.5s;
  z-index: 10;
}

nav.active {
  background-color: rgba(0, 0, 0, 0.7);
}

nav a {
  text-decoration: none;
  color: inherit;
  padding: 10px 20px;
  display: block;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 5px 10px;
}

.intro {
  height: 100vh;
  width: 100vw;
}

.intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p.short {
  width: 50%;
  margin-left: 25%;
  padding: 15px 0;
}

section {
  height: 100vh;
  text-align: center;
  padding: 80px 0;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.about-us {
  height: 60vh;
}

.overlay {
  position: relative;
}

.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 1) 100%
  );
}

.center {
  text-align: center;
}

.video-container video {
    height: 100%;
    width: 100%;
}
